extends layout
block script
    script(src='/angular/angular.js')
    script(src='/angular-route/angular-route.js')
    script(src='/angular-resource/angular-resource.js')
    script(src='/angular-animate/angular-animate.js')
    script.
        console.log("dashboard");
        //
        // *** APP - MODULES
        //
    script(src='/app/js/app.js')
    script(src='/app/js/controllers.js')
    script(src='/app/js/services.js')
    script(src='/app/js/animations.js')
    script(src='/app/js/directives.js')

block style
    style.
        body {
            background-color: black;
            color: whitesmoke;
            margin: 10px;
            padding: 10px;
        }
block content
    h1= title
    p Welcome to #{title}
    .dashboard(ng-app="nexio")
        p Nothing here {{'yet' + '!'}}
        p 1 + 2 = {{ 1 + 2 }}
        .controller(ng-controller='eventListCtrl')
            .events(ng-view)
