doctype html
html
  head
    title= title

    link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
    link(rel="icon" href="/favicon.ico" type="image/x-icon")
    // style
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap-theme.min.css')

    // script
    script(src='/bootstrap/dist/js/bootstrap.min.js')
    script(src='/jquery/dist/jquery.min.js')

    // cdn
    block script
    block style

  body
    block content
    block scriptBody